<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836102213087-e7shr3rsmdp1hbv53gulup6vvlj6mqa2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836102213087-e7shr3rsmdp1hbv53gulup6vvlj6mqa2</string>
	<key>API_KEY</key>
	<string>AIzaSyD1LBsk5TgPQeXC_ueYQIUv6Z_H1FdMblY</string>
	<key>GCM_SENDER_ID</key>
	<string>836102213087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-eac34</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-eac34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836102213087:ios:3fbc3f1779d800739d086a</string>
</dict>
</plist>